@use 'variables' as *;

// Global Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: $font-primary;
  overflow: hidden;
  background-color: $bg-dark-base;
  color: $text-primary;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}
